@model List<_01_WebApplication.dbBlog.Entity.Views.ViewPostTags>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>ID</th>
            <th>TITLE</th>
            <th>NAME</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.title</td>
                <td>@item.name</td>
                <td><a href="/PostTags/Update/@item.Id" class="btn btn-warning">UPDATE</a></td>
                <td><a href="/PostTags/Delete/@item.Id" class="btn btn-danger">DELETE</a></td>
            </tr>
        }
    </tbody>
</table>
